<article class="container" id="contact">
   <h2>{{'contact-big'|translate}}</h2>
   <div class="button">
      <p class="mail-btn"><a href="mailto:dawidwalczak1404@gmail.com">{{'contact-email-me'|translate}}</a></p>
      <p class="or">{{'contact-or'|translate}}</p>
      <p class="profiles-text">{{'contact-check-profiles'|translate}}</p>
      <p class="profiles-links">
         <a href="https://www.linkedin.com/in/dawid-walczak-341b59265/"><i class="fa-brands fa-linkedin"></i></a>
         <a href="https://github.com/walczak1404"><i class="fa-brands fa-github"></i></a>
      </p>
   </div>
</article>