<article class="container" id="contact">
   <h2>Want to get in touch?</h2>
   <div class="button">
      <p class="mail-btn"><a href="mailto:dawidwalczak1404@gmail.com">Email me!</a></p>
      <p class="or">or</p>
      <p class="profiles-text">Check my profiles</p>
      <p class="profiles-links">
         <a href="https://www.linkedin.com/in/dawid-walczak-341b59265/"><i class="fa-brands fa-linkedin"></i></a>
         <a href="https://github.com/walczak1404"><i class="fa-brands fa-github"></i></a>
      </p>
   </div>
</article>