<app-section-layout [title]="'about-me'|translate" id="about-me">
   <div class="container">
      <div class="text">
         <p class="par1">{{'about-me-content-1'|translate}}</p>
         <p class="par2">{{'about-me-content-2'|translate}}</p>
      </div>
      <div class="photo">
      </div>
   </div>
</app-section-layout>

<!-- Cześć! Jestem Dawid. Jestem twórcą stron internetowych z pasją do tworzenia dynamicznych i przyjaznych dla użytkownika witryn. Moje zainteresowanie tworzeniem stron internetowych zaczęło się w 2020 roku i od tego czasu poświęcam się doskonaleniu sztuki budowania stron, które nie tylko świetnie wyglądają, ale także zapewniają bezproblemowe doświadczenia użytkowników. -->