.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;

   .text {
      width: 100%;
      font-size: clamp(12px, 3vw, 17px);
      line-height: clamp(17px, 3.5vw, 30px);
      margin-bottom: 10px;
      p {
         margin-bottom: 10px;
      }
   }

   .photo {
      width: 100%;
      height: 20vh;
      background: {
         // image: url('/assets/photos/profile/coding.jpg');
         size: cover;
         repeat: no-repeat;
         position: center center;
      }
   }

   
   @media(min-width: 1000px) {
      flex-direction: row;
      align-items: stretch;

      .text {
         width: 45%;
         height: auto;
         margin-right: 10%;
      }

      .photo {
         width: 45%;
         height: auto;
      }
   }
}