<app-section-layout title="About Me">
   <div class="container" id="about-me">
      <div class="text">
         <p class="par1">Hello! My name is Dawid. I am a web developer with a passion for creating dynamic and user-friendly websites. My interest in web development began in 2020, and since then, I have dedicated myself to mastering the art of building websites that not only look great but also provide seamless user experiences.</p>
         <p class="par2">Currently, I'm just starting my career and looking for opportunity to gain some experience from the best in the industry.</p>
      </div>
      <div class="photo">
      </div>
   </div>
</app-section-layout>

<!-- Cześć! Jestem Dawid. Jestem twórcą stron internetowych z pasją do tworzenia dynamicznych i przyjaznych dla użytkownika witryn. Moje zainteresowanie tworzeniem stron internetowych zaczęło się w 2020 roku i od tego czasu poświęcam się doskonaleniu sztuki budowania stron, które nie tylko świetnie wyglądają, ale także zapewniają bezproblemowe doświadczenia użytkowników. -->