<header #header [ngClass]="{'visible': headerVisible}">
   <nav>
      <ul>
         <li class="lang-list-item">
            <span (click)="onLangDisplay()"><i class="fa-solid fa-globe"></i> <i class="fa-solid fa-angle-down"></i></span>
            <div *ngIf="langsVisible" (click)="onChangeLanguage($event)">
               <p data-lang="en">EN</p>
               <p data-lang="pl">PL</p>
            </div>
         </li>
         <li>
            <a href="#about-me" (click)="onToggleHeader()">{{'about-me'|translate}}</a>
         </li>
         <li>
            <a href="#skills" (click)="onToggleHeader()">{{'skills'|translate}}</a>
         </li>
         <li>
            <a href="#projects" (click)="onToggleHeader()">{{'projects'|translate}}</a>
         </li>
         <li>
            <a href="#contact" (click)="onToggleHeader()">{{'contact'|translate}}</a>
         </li>
      </ul>
   </nav>
</header>
<div class="burger" [ngClass]="{'burger-rotated': headerVisible}" (click)="onToggleHeader()">
   <div class="burger-part burger-part-top"></div>
   <div class="burger-part burger-part-mid"></div>
   <div class="burger-part burger-part-bot"></div>
</div>