<header #header>
   <nav>
      <ul>
         <li class="lang-list-item">
            <span (click)="onLangDisplay()"><i class="fa-solid fa-globe"></i> <i class="fa-solid fa-angle-down"></i></span>
            <div *ngIf="langsVisible" (click)="onChangeLanguage($event)">
               <p data-lang="en">EN</p>
               <p data-lang="pl">PL</p>
            </div>
         </li>
         <li>
            <a href="#about-me">{{'about-me'|translate}}</a>
         </li>
         <li>
            <a href="#skills">{{'skills'|translate}}</a>
         </li>
         <li>
            <a href="#projects">{{'projects'|translate}}</a>
         </li>
         <li>
            <a href="#contact">{{'contact'|translate}}</a>
         </li>
      </ul>
   </nav>
</header>