header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   background-color: #0a192f;
   // box-shadow: 0 0 5px 0 black;
   display: flex;
   justify-content: flex-end;

   nav {
      margin: 15px 3%;
      ul {
         list-style-type: none;
         display: flex;

         li {
            margin-left: 10px;
            color: #ccd6f6;
         }
      }
   }
}