@import "swiper/scss";
@import "swiper/scss/pagination";
@import "swiper/scss/navigation";

.wrapper {
   display: flex;
   container-type: inline-size;

   .projects-container {
      flex-grow: 1;

      .swiper-button-next, .swiper-button-prev {
         color: #8892b0;
      }

      .swiper-pagination-bullet {
         background-color: #8892b0;
      }

      .project {      
         width: 100%;
         height: 100%;

         display: flex;
         align-items: center;
   
         .image {
            flex-basis: 50%;

            background: {
               size: cover;
               repeat: no-repeat;
               position: center center;
            }

            img {
               max-width: 100%;
               max-height: 100%;
            }
         }
   
         .description {
            padding: 5%;
            flex-basis: 50%;
            font-size: clamp(10px, 3vw, 17px);
            line-height: clamp(15px, 3.5vw, 30px);
         }
      }
   }

   @container(max-width: 960px) {

      .project {
         flex-direction: column;

         .image {
            max-height: 50%;

            img {
               max-height: 30%;
            }
         }
      }
   }

   @container(max-width: 475px) {
      .swiper-button-next, .swiper-button-prev {
         display: none;
      }
   }
}