.wrapper {
   min-height: 70vh;
   display: flex;
   container-type: inline-size;

   .arrow {
      // background-color: red;
      flex-basis: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      i {
         font-size: 1.7rem;
      }
   }

   .projects-container {
      flex-grow: 1;

      .project {      
         width: 100%;
         height: 100%;

         display: flex;
         flex-wrap: wrap;
         
   
         .image {
            background-color: yellow;
            flex-basis: 50%;
         }
   
         .description {
            background-color: green;
            flex-basis: 50%;
         }
      }
   }

   @container(max-width: 960px) {

      .project {
         flex-direction: column;
      }
   }

   @container(max-width: 475px) {
      .arrow {
         display: none;
      }
   }
}