<app-section-layout [title]="'projects'|translate" id="projects">
   <div class="wrapper">
      <swiper class="projects-container" [config]="config">
         <ng-template swiperSlide>
            <div class="project">
               <div class="image">
                  <img src="assets/photos/projects/project1.png" alt="Project 1 screenshot">
               </div>
               <div class="description">
                  <h2>Project 1</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquam dolores labore voluptatibus rerum numquam nam omnis! Odio, itaque eum!</p>
               </div>
            </div>
         </ng-template>
         <ng-template swiperSlide>
            <div class="project">
               <div class="image">
                  <img src="assets/photos/projects/project1.png" alt="Project 2 screenshot">
               </div>
               <div class="description">
                  <h2>Project 2</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquam dolores labore voluptatibus rerum numquam nam omnis! Odio, itaque eum!</p>
               </div>
            </div>
         </ng-template>
         <ng-template swiperSlide>
            <div class="project">
               <div class="image">
                  <img src="assets/photos/projects/project1.png" alt="Project 3 screenshot">
               </div>
               <div class="description">
                  <h2>Project 3</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquam dolores labore voluptatibus rerum numquam nam omnis! Odio, itaque eum!</p>
               </div>
            </div>
         </ng-template>
      </swiper>
   </div>
</app-section-layout> 