<app-section-layout [title]="'projects'|translate" id="projects">
   <div class="wrapper">
      <swiper class="projects-container" [config]="config">
         <ng-template swiperSlide>
            <div class="project">
               <div class="image">
                  <img src="assets/photos/projects/project1.png" alt="Project 1 screenshot">
               </div>
               <div class="description">
                  <h2>Geoguessr</h2>
                  <p>{{'project-1'|translate}}</p>
               </div>
            </div>
         </ng-template>
         <ng-template swiperSlide>
            <div class="project">
               <div class="image">
                  <img src="assets/photos/projects/project2.png" alt="Project 2 screenshot">
               </div>
               <div class="description">
                  <h2>Binb.co</h2>
                  <p>{{'project-2'|translate}}</p>
               </div>
            </div>
         </ng-template>
         <ng-template swiperSlide>
            <div class="project">
               <div class="image">
                  <img src="assets/photos/projects/project3.png" alt="Project 3 screenshot">
               </div>
               <div class="description">
                  <h2>Who Are Ya?</h2>
                  <p>{{'project-3'|translate}}</p>
               </div>
            </div>
         </ng-template>
      </swiper>
   </div>
</app-section-layout> 