.main {
   width: 100vw;
   // background-color: orange;
   overflow-x: hidden;
   scroll-snap-type: y mandatory;
   overflow-y: scroll;
   height: 100vh;
}

.section {
   scroll-snap-align: start;
   height: 100vh;
   display: block;
}