.skills-list {
   // background-color: green;
   list-style-type: "▹";
   display: grid;
   grid-template-columns: min-content min-content;
   grid-auto-rows: min-content;
   grid-row-gap: 10px;
   justify-content: space-evenly;
   min-height: 50vh;
   
   ::marker {
      color: #64ffda;
   }

   li {
      font-size: clamp(15px, 2vw, 20px);
      // background-color: red;
   }
}