// .skills-list {
//    // background-color: green;
//    list-style-type: "▹";
//    display: grid;
//    grid-template-columns: min-content min-content;
//    grid-template-rows: 3;
//    grid-auto-rows: min-content;
//    grid-row-gap: 10px;
//    justify-content: space-evenly;
//    // min-height: 50vh;
   
//    ::marker {
//       color: #64ffda;
//    }

//    li {
//       font-size: clamp(13px, 2vw, 17px);
//       // background-color: red;
//    }

//    @media(min-width: 700px) {
//       grid-template-columns: repeat(3, min-content);
//       grid-auto-rows: auto;
//       grid-auto-columns: min-content;
//    }
// }

.skills-list {
   list-style-type: "▹";
   width: 100%;
   height: 100%;

   // background-color: red;
   font-size: clamp(12px, 2vw, 16px);
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   // justify-content: center;
   align-items: center;
   margin-left: 5%;

   p {
      flex-basis: 33.3333%;
      // background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   li {


   }

   ::marker {
      color: #64ffda;
   }
}