.container {
   margin: {
      left: 5px;
      right: 5px;
      bottom: 10vh;
   }
   display: flex;
   flex-direction: column;
   align-items: center;

   .article {
      width: 65vw;
      min-width: 300px;
      // height: 100%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media(orientation: landscape) and (max-height: 470px) {
         width: 100%;
      }

      .header {
         margin-bottom: 5%;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;

         h2 {
            font-size: clamp(20px, 4vw, 30px);
            color: #ccd6f6;
         }

         .line {
            flex-grow: 1;
            height: 1px;
            width: 1px;
            background-color: #233554;
         }
      }

      .content {
         width: 100%;
      }
   }
}