.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;

   .article {
      width: 60vw;
      min-width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // background-color: grey;

      .header {
         margin-bottom: 5%;
         width: 100%;
         display: flex;
         align-items: center;
         // background-color: green;

         h2 {
            font-size: clamp(25px, 4vw, 40px);
            margin-right: 20px;
         }

         .line {
            flex-grow: 1;
            height: 1px;
            width: 1px;
            background-color: #64ffda;
         }
      }

      .content {
         width: 100%;
         // background-color: red;
      }
   }
}