.lists-container {
   // background-color: green;
   width: 100%;

   .list-names {
      margin: {
         top: 10px;
         bottom: 10px;
      }
      width: 100%;

      ul {
         display: flex;
         list-style-type: none;
         overflow-x: auto;
         // background-color: red;
         width: 100%;
         line-height: 1.5rem;
         border-bottom: 1px solid #8892b0;

         &::-webkit-scrollbar {
            height: 3px;
         }

         li {
            flex-basis: 33%;
            min-width: 180px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(15px, 2vw, 20px);

            &.selected {
               background-color: #112240;
               color: #64ffda;
            }

            &:hover {
               background-color: #112240;
            } 
         }
      }
   }

   .lists {

   }
}