.lists-container {
   // background-color: green;
   width: 100%;

   .list-names {
      margin: {
         top: 10px;
         bottom: 10px;
      }
      width: 100%;

      ul {
         display: flex;
         list-style-type: none;
         overflow-x: auto;
         // background-color: red;
         width: 100%;
         font-size: clamp(15px, 1vw, 20px);
         padding-bottom: 10px;
         border-bottom: 1px solid #8892b0;

         &::-webkit-scrollbar {
            height: 3px;
         }

         li {
            flex-basis: 33%;
            min-width: 150px;
            text-align: center;

            .selected {
               background-color: red;
            }
         }
      }
   }
}