$list-names-border: 1px solid #233554;

.lists-container {
   // background-color: red;
   // width: fit-content;
   display: flex;
   justify-content: center;
   height: 150px;
   container-type: inline-size;
   

   .list-names {
      // background-color: green;
      flex-basis: 15%;
      min-width: 140px;

      ul {
         list-style-type: none;
         // background-color: grey;
         height: 100%;
         display: flex;
         flex-direction: column;
         border-right: $list-names-border;
         user-select: none;
         position: relative;

         .pointer {
            position: absolute;
            left: 100%;
            top: 0;
            width: 1px;
            height: 25%;
            background-color: #64ffda;
            transition: .3s;
         }


         li {
            flex-basis: 25%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(12px, 2vw, 16px);

            &.selected {
               background-color: #112240;
               color: #64ffda;
            }

            &:hover {
               background-color: #112240;
            } 
         }
      }
   }

   .lists {
      // background-color: yellow;
      flex-basis: 40%;
      min-width: 371.5px;
   }

   @media (max-width: 784px) {
      flex-direction: column;

      .list-names {
         ul {
            flex-direction: row;
            border-right: none;
            border-bottom: $list-names-border;

            .pointer {
               left: 0;
               top: 100%;
               width: 25%;
               height: 1px;
            }
         }
      }

      .lists {
         min-width: auto;
      }
   }
}