<app-section-layout [title]="'skills'|translate" id="skills">
   <div class="lists-container">
      <div class="list-names">
         <ul>
            <li [ngClass]="{'selected': currentList==='F'}" (click)="onChangeList('F')">Frontend</li>
            <li [ngClass]="{'selected': currentList==='B'}" (click)="onChangeList('B')">Backend</li>
            <li [ngClass]="{'selected': currentList==='T'}" (click)="onChangeList('T')">{{'skills-testing'|translate}}</li>
            <li [ngClass]="{'selected': currentList==='O'}" (click)="onChangeList('O')">{{'skills-others'|translate}}</li>
            <div class="pointer" #pointer></div>
         </ul>
      </div>
      <div class="lists">
         <app-skills-list [skills]="frontendSkills" *ngIf="currentList==='F'"></app-skills-list>
         <app-skills-list [skills]="backendSkills" *ngIf="currentList==='B'"></app-skills-list>
         <app-skills-list [skills]="testingSkills" *ngIf="currentList==='T'"></app-skills-list>
         <app-skills-list [skills]="otherSkills" *ngIf="currentList==='O'"></app-skills-list>
      </div>
   </div>
</app-section-layout>