* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font: 20px arial, sans-serif;
   color: white;
}

body {
   height: 100vh;
   background-color: #0a192f;
   // background: rgb(25,48,103);
   // background: radial-gradient(circle, rgba(25,48,103,1) 2%, rgba(15,23,42,1) 93%);
}